#img-bg{
  background-image: url('../../assets/img/8-bit-pixel-art-city-2o-1920x1080.jpg');

  min-height: 985px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
